TareaProgra3/src/wsdl/localhost_8080/WebSoap/SoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://websoap.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://websoap.una.ac.cr/" name="SoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://websoap.una.ac.cr/" schemaLocation="http://localhost:8080/WebSoap/SoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="regtodo">
<part name="parameters" element="tns:regtodo"/>
</message>
<message name="regtodoResponse">
<part name="parameters" element="tns:regtodoResponse"/>
</message>
<message name="EmpleadoAdmin">
<part name="parameters" element="tns:EmpleadoAdmin"/>
</message>
<message name="EmpleadoAdminResponse">
<part name="parameters" element="tns:EmpleadoAdminResponse"/>
</message>
<message name="EmpleadoFolio">
<part name="parameters" element="tns:EmpleadoFolio"/>
</message>
<message name="EmpleadoFolioResponse">
<part name="parameters" element="tns:EmpleadoFolioResponse"/>
</message>
<message name="SaveEmpleado">
<part name="parameters" element="tns:SaveEmpleado"/>
</message>
<message name="SaveEmpleadoResponse">
<part name="parameters" element="tns:SaveEmpleadoResponse"/>
</message>
<message name="RegistrosbyId">
<part name="parameters" element="tns:RegistrosbyId"/>
</message>
<message name="RegistrosbyIdResponse">
<part name="parameters" element="tns:RegistrosbyIdResponse"/>
</message>
<message name="RegistroFolio">
<part name="parameters" element="tns:RegistroFolio"/>
</message>
<message name="RegistroFolioResponse">
<part name="parameters" element="tns:RegistroFolioResponse"/>
</message>
<portType name="SoapWS">
<operation name="regtodo">
<input wsam:Action="http://websoap.una.ac.cr/SoapWS/regtodoRequest" message="tns:regtodo"/>
<output wsam:Action="http://websoap.una.ac.cr/SoapWS/regtodoResponse" message="tns:regtodoResponse"/>
</operation>
<operation name="EmpleadoAdmin">
<input wsam:Action="http://websoap.una.ac.cr/SoapWS/EmpleadoAdminRequest" message="tns:EmpleadoAdmin"/>
<output wsam:Action="http://websoap.una.ac.cr/SoapWS/EmpleadoAdminResponse" message="tns:EmpleadoAdminResponse"/>
</operation>
<operation name="EmpleadoFolio">
<input wsam:Action="http://websoap.una.ac.cr/SoapWS/EmpleadoFolioRequest" message="tns:EmpleadoFolio"/>
<output wsam:Action="http://websoap.una.ac.cr/SoapWS/EmpleadoFolioResponse" message="tns:EmpleadoFolioResponse"/>
</operation>
<operation name="SaveEmpleado">
<input wsam:Action="http://websoap.una.ac.cr/SoapWS/SaveEmpleadoRequest" message="tns:SaveEmpleado"/>
<output wsam:Action="http://websoap.una.ac.cr/SoapWS/SaveEmpleadoResponse" message="tns:SaveEmpleadoResponse"/>
</operation>
<operation name="RegistrosbyId">
<input wsam:Action="http://websoap.una.ac.cr/SoapWS/RegistrosbyIdRequest" message="tns:RegistrosbyId"/>
<output wsam:Action="http://websoap.una.ac.cr/SoapWS/RegistrosbyIdResponse" message="tns:RegistrosbyIdResponse"/>
</operation>
<operation name="RegistroFolio">
<input wsam:Action="http://websoap.una.ac.cr/SoapWS/RegistroFolioRequest" message="tns:RegistroFolio"/>
<output wsam:Action="http://websoap.una.ac.cr/SoapWS/RegistroFolioResponse" message="tns:RegistroFolioResponse"/>
</operation>
</portType>
<binding name="SoapWSPortBinding" type="tns:SoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="regtodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmpleadoAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EmpleadoFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SaveEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrosbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistroFolio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapWS">
<port name="SoapWSPort" binding="tns:SoapWSPortBinding">
<soap:address location="http://localhost:8080/WebSoap/SoapWS"/>
</port>
</service>
</definitions>